<ion-view title="Following" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="following-list6">
      <ion-item class="item-avatar" id="following-list-item20" ui-sref="tabsController.profile">
        <h2>User 1</h2>
      </ion-item>
      <ion-item class="item-avatar" id="following-list-item21" ui-sref="tabsController.profile">
        <h2>User 2</h2>
      </ion-item>
      <ion-item class="item-avatar" id="following-list-item22" ui-sref="tabsController.profile">
        <h2>User 3</h2>
      </ion-item>
      <ion-item class="item-avatar" id="following-list-item23" ui-sref="tabsController.profile">
        <h2>User 4</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>