<ion-view title="Newsfeed" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="newsfeed-list8">
      <div class="item item-body" id="newsfeed-list-item-container1">
        <div id="newsfeed-markdown2" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>User 1</strong> listened to
            <strong>Record 2</strong>
          </p>
        </div>
      </div>
      <div class="item item-body" id="newsfeed-list-item-container2">
        <div id="newsfeed-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>User 1</strong> listened to
            <strong>Record 2</strong>
          </p>
        </div>
      </div>
      <div class="item item-body" id="newsfeed-list-item-container3">
        <div id="newsfeed-markdown6" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>User 1</strong> listened to
            <strong>Record 2</strong>
          </p>
        </div>
      </div>
      <div class="item item-body" id="newsfeed-list-item-container4">
        <div id="newsfeed-markdown7" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>User 1</strong> listened to
            <strong>Record 2</strong>
          </p>
        </div>
      </div>
      <div class="item item-body" id="newsfeed-list-item-container5">
        <div id="newsfeed-markdown8" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>User 1</strong> listened to
            <strong>Record 2</strong>
          </p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>