<ion-view title="Profile" id="page7">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <h2 id="profile-heading1" style="color:#000000;">Username</h2>
    <div id="profile-button-bar1" class="button-bar">
      <button id="profile-button8" class="button button-stable  button-block">Records</button>
      <button id="profile-button9" class="button button-stable  button-block">Followers</button>
      <button id="profile-button10" class="button button-stable  button-block">Following</button>
    </div>
  </ion-content>
</ion-view>