<ion-view title="{{ record.record.name }}" id="record">
  <ion-content padding="true" class="has-header">
    <div class="record-image">
      <img src="{{ record.record.image }}" alt="{{ record.record.name }}">
    </div>
    <h2 class="record-heading" id="record-heading2">{{ record.record.name }}</h2>
    <h3 class="record-heading" id="record-heading3">{{ record.record.artist }}</h3>
    <ion-list id="record-tracks">
      <ion-item id="record-list-item18" ng-repeat="(key, track) in record.record.tracks">
        <span class="duration">{{ track.duration }}</span>
        {{ key+1 }}. {{ track.name }}
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
