<ion-view title="Settings" id="settings">
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item class="item-icon-left" on-tap="settings.spotify()"><i class="icon ion-social"></i>Link to spotify</ion-item>
      <ion-item class="item-icon-left" on-tap="settings.twitter()"><i class="icon ion-social-twitter"></i>Link to twitter</ion-item>
      <ion-item class="item-icon-left" on-tap="settings.logout()"><i class="icon ion-power"></i>Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
