<ion-view title="Settings" id="settings">
  <ion-content padding="true" class="has-header">
    <ion-list>
      <ion-item class="item-icon-left settings-icon" ng-if="settings.spotify_linked == true"><i class="icon ion-checkmark"></i>Linked to spotify</ion-item>
      <ion-item class="item-icon-left settings-icon" on-tap="settings.spotify()" ng-if="settings.spotify_linked == false"><i class="icon ion-social spotify"></i>Link to spotify</ion-item>
      <ion-item class="item-icon-left settings-icon" ng-if="settings.twitter_linked == true"><i class="icon ion-checkmark"></i>Linked to twitter</ion-item>
      <ion-item class="item-icon-left settings-icon" on-tap="settings.twitter()" ng-if="settings.twitter_linked == false"><i class="icon ion-social-twitter"></i>Link to twitter</ion-item>
      <ion-item class="item-icon-left settings-icon" on-tap="settings.logout()"><i class="icon ion-power"></i>Logout</ion-item>
    </ion-list>
  </ion-content>
</ion-view>
