<ion-view title="Signup" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="signup-form2" class="list">
      <ion-list id="signup-list3">
        <label class="item item-input" id="signup-input6">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input4">
          <span class="input-label">Email</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 49px;"></div>
      <ion-list id="signup-list4">
        <label class="item item-input" id="signup-input3">
          <span class="input-label">First name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input7">
          <span class="input-label">Last name</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 49px;"></div>
      <label class="item item-input" id="signup-input5">
        <span class="input-label">Password</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="signup-input9">
        <span class="input-label">Confirm password</span>
        <input type="text" placeholder="">
      </label>
      <a ui-sref="tabsController.newsfeed" id="signup-button3" class="button button-stable  button-block">Sign up</a>
    </form>
  </ion-content>
</ion-view>